{% extends "base.html" %}

{% block title %}
Home Page
{% endblock%}

{% block content %}
<!-- Header-->
<div id="home_page" class="bg-dark bg-gradient text-white">
  <div class="container px-4 text-center">
      <h1 class="fw-bolder">Welcome to the Flask Market!</h1>
      <p class="lead">Purchase our items in the best online market of North Ireland</p>
      <a class="btn btn-lg bg-primary text-white" href="{{url_for('market_page')}}">Get started!</a>
  </div>
</div>
<!-- About section-->

{% endblock %}