{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block content %}

<div class="text-center">
    <div class="container">

        <h1>Create Account</h1>
    
        <form id="register_form" method="POST" class="form-register">
            {{ form.hidden_tag() }}

            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="User Name") }}
    
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}
    
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}
    
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Confirm Password")}}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
    
        </form>
    </div>
    <br>
    <div class="checkbox nb-3">
        <h6>Already have an account?</h6>
        <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login Page</a>
     </div>

    
</div>

{% endblock %}